<template>
  <div class="bg-white">
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Каталог товаров</h2>

      <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div v-for="product in products" :key="product.id" class="group relative">
          <div
              class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
            <img :src="product.imageSrc" :alt="product.imageAlt"
                 class="h-full w-full object-cover object-center lg:h-full lg:w-full"/>
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <transition name="slide">
                  <router-link :to="{name: 'product-detail', params: {productId: product.id}}">
                    <span aria-hidden="true" class="absolute inset-0"/>
                    {{ product.title }}
                  </router-link>
                </transition>
              </h3>
              <p class="mt-1 text-sm text-gray-500">{{ product.body }}</p>
            </div>
            <p class="text-sm font-medium text-gray-900">{{ product.id }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeView",
  computed: {
    products() {
      return this.$store.getters['getProducts']
    }
  },
  mounted() {
    this.$store.dispatch('fetchProducts')
  }
}

</script>

<style scoped lang="scss">

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.item {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(100%);
}

</style>
