<template>
  <div class="bg-white">
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="product">
        <button type="button"
                class="flex w-100 items-center justify-center rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 go-back-button"
                @click="goBack">Назад
        </button>
        <img v-if="hasImages" :src="product.image" :alt="product.title">
        <img v-else src="https://via.placeholder.com/320" alt="No image available">
        <h1>{{ product.title }}: {{ product.id }}</h1>
        <p>{{ product.body }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: "ProductView",
  computed: {
    ...mapGetters([
      'getProductById'
    ]),
    product() {
      const productId = Number(this.$route.params.productId)
      return this.getProductById(productId)
    },
    hasImages() {
      return this.product.image !== undefined
    }
  },
  mounted() {
    const productId = this.$route.params.productId
    this.fetchProductById(productId)
  },
  methods: {
    ...mapActions(['fetchProductById']),
    goBack() {
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped lang="scss">
  .go-back-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 3;
  }
</style>
