<template>
<!--  <transition name="slide">-->
<!--    <router-view></router-view>-->
<!--  </transition>-->

  <router-view v-slot="{ Component }">
    <transition name="slide-fade">
      <component :is="Component" />
    </transition>
  </router-view>
</template>

<script>
import Home from "@/views/Home.vue";
// import ProductDetail from "@/views/ProductDetail.vue";

export default {
  name: 'App',
  components: Home
}
</script>

<style scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>
